.button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--btn-bg-color);
	color: var(--btn-text-color);
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 8px;
	font-size: 1em;
	font-family: inherit;
	cursor: pointer;
	transition: background-color 0.3s ease;
	gap: 5px;
}
.button:hover {
	background-color: var(--btn-hover-bg);
}

.button:focus,
.button:focus-visible {
	outline: 4px auto #2f2f2f;
}
.button:disabled {
	opacity: 0.5;
	pointer-events: none;
}

.active {
	color: black;
	background-color: #ce7e1d;
}
.active:hover {
	background-color: #a36418;
}

.neutral {
	color: var(--btn-text-color);
	background-color: var(--color-green);
}
.neutral:hover {
	background-color: #155e4b;
}
